html, body {
    background-image: url('/images/background.svg');
    background-size: cover;   
    background-color:#000;
    color: #fff;
}

.box  {
    z-index: 9999999999999999;
}

.spinner, #progress  {
}



h1 {
    font-size: 20pt;
}

/*BUTTONS*/
.win-contentdialog .win-contentdialog-primarycommand {
    background-color: #61ba7f;
}
.win-backbutton, .win-back {
    /*border-color: #333;
    color: #333;*/
}
a {
    color: #61ba7f;
}

a:hover {
    background-color: transparent;
    color: green;
}

.fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.powered::before {
    position:fixed !important;
    content:"v.2" !important;
    color:#fff !important;
    z-index:99999999999999;
    top:0pt;
    right:1pt;
    opacity:0.5;
}
/*width of each section*/
.section1.win-hub-section {
    width: 780px;
    overflow: hidden;
}


/*App Header Styles*/
#appHeader {
    top: 0px;
    bottom:10px;
    left: 0px;
    width: 100%;
    float: left;
        /*background-color: #61ba7f;*/
}

#appHeader .win-navigation-backbutton {
    margin-right: 5px;
        margin-top: 2pt;
            margin-left: 5px;
            float:left;
}

#appHeader h1 {
    color: #fff;
    top: 0pt;
    left:50pt;
    /*position : absolute;*/
    z-index: 999999999999;
    font-size:31pt;
    float:left;
}
#appHeader h1 a { color:#fff;}

.powered{
    font-weight: 100;
    position :absolute;
    right:5px;
    bottom:5px;
    font-size:10pt;
}
/*styles when app is in the portrait mode*/
@media all and (min-height: 1280px) {

}

/*styles for larger screens*/
@media (min-width: 1920px) {
  
}

