html, body {
    /*background-image: url('/images/background.svg');*/
    background-size: cover;
    font-weight: 100;
}

.box  {
    /*z-index: 9999999999999999;*/
}

progress, #myProgressRing{
    z-index: 99999999;
    position:absolute;
    top:50%;
    left:50%;
    display:none !important;
}

.progresscontainer{
    display: none;
    z-index: 99999999;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,255,0,0.4);
     opacity:.50; 
}

/* Font colors
********************************************/


a {
    color: #61ba7f;
}
a:hover {
    background-color: transparent;
}
.fontcolor {
    color: #000000; 
}
.fontcolor2 * {
    color: #FFFFFF; 
}
.fontcolor2 a, .fontcolor2 a b {
    color: #61ba7f; 
}
.fontcolorselect {
    color: #61ba7f; 
}
.bgcolor {
    background-color:#61ba7f
}
.win-contentdialog .win-contentdialog-primarycommand {
    background-color: #61ba7f;
}


/********************************************/

/*BUTTONS*/

.win-backbutton, .win-back {
    font-size:24pt;
}
.win-backbutton, .win-back {
    width: 70px;
    height: 70px;
    line-height:70px;
}

.fullScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*width of each section*/
.section1.win-hub-section {
    width: 780px;
    overflow: hidden;
}

/*App Header Styles*/
#appHeader {
    top: 0px;
    bottom:10px;
    left: 0px;
    width: 100%;
    float: left;
    display: absolute;
    z-index: 0;
    min-height: 100px;
}

#appHeader .win-navigation-backbutton {
    position: absolute;
    z-index: 999999999;
    margin-right: 5px;
    margin-top: 2pt;
    margin-left: 5px;
    float:left;
    width: 70px;
    height: 70px;
    padding:0px;
}

#appHeader h1 {
    top: 0pt;
    left:50pt;
    /*z-index: 999999999999;*/
    float:left;
    font-size: 30pt;
    margin-bottom:5pt;
    float: right;
    margin-right: 5%;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
    z-index: 3;
}

#appHeader h1 a { 
    color:#fff;
}

.powered{
    font-weight: 100;
    position :absolute;
    right:5px;
    bottom:5px;
    font-size:10pt;
}
/*styles when app is in the portrait mode*/
@media all and (min-height: 1280px) {

}

/*styles for larger screens*/
@media (min-width: 1920px) {
  
}


/* CSS applied to the ListViews in this sample */
#listViewVideo,
#listView
{
    width:100%;
    float:left;
    padding-bottom:0pt;
}

#listViewVideo .win-listheadercontainer,
#listView .win-listheadercontainer {
    display:none;
}

/* Template for the items in the ListViews in this sample */       
.smallListIconTextItemVideo,
.smallListIconTextItem
{
    margin: 10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.smallListIconTextItemVideo iframe {
    background:transparent;
    width:600px !important;
    height:400px !important;
    padding:20px;
    padding-top: 0px;
}


.smallListIconTextItem a.smallListIconTextItem-Image 
{
    margin: 5px;
    margin-right:10px;
    width:400px !important;
    height:400px !important;
    background-size:100% auto; 
    background-repeat: no-repeat;
    background-position: center center;
}

.smallListIconTextItem .smallListIconTextItem-Detail
{
    margin: 5px;
}

.listLayoutTopHeaderTemplateRoot {
    font-size: larger;
    margin-left: 16px;
}
    
/* CSS applied to the ListViews in this sample */
#listView,
#listViewVideo
{
    width:100%;
    height: auto;
    float:left;
}

.win-listview .win-item, .win-itemcontainer .win-item {
    overflow: inherit;
}

.win-listview > .win-viewport {
    white-space: inherit;
}

.win-listview > .win-vertical .win-container {
    margin: 0px;
}

.title {
    font-size: 4vh;
    padding: 1vw;
}

.summary {
    font-size: 3vh;
    padding: 2vw;
}

.win-listview > .win-viewport.win-horizontal {
    overflow-x: auto;
    overflow-y: auto;
}

.win-listview .win-listlayout .win-itemsblock {
    width: 100%;
    float: left;
}

.win-pivot.win-pivot-nosnap .win-pivot-item {
    width: 100%;
    z-index: 9999999;
    float: left;
}

.win-listview > .win-vertical .win-item {
    display: inline-block;
}

.adsbygoogle{
    position: absolute;
    z-index: 1;
}
.win-listview > .win-viewport.win-vertical {
    overflow-x: scroll;
    overflow-y: scroll;
}